.flex-container{
    display: flex;
    margin: 4px;
    align-items: start;
}
.inline-flex-container{
    display: inline-flex;
}
.flex-col{
    flex-direction: column;
}

p{
    margin: 1px;
}
table {
    width: 100%;
    border: 4px double black;
    border-collapse: collapse;
}
td{
    border: 4px double black;
    border-collapse: collapse;
}

.apply-cell{
    width: 10px;
}
hr{
    color: black;
    width: 100%;
    margin: 0;
}

.m-buttons{
    order: 1;
}